/*
- Mobile: 375px
- Desktop: 1440px
 Primary Colors:
- Dark cyan: #3c8067
- Cream: #f2ebe3
Neutral:
- Very Dark Blue: #1c232b
- Dark Grayish Blue: #6c7289
- White: #fff
*/

:root {
    /*Primary Colors*/
    --dark-cyan: #3c8067;
    --cream: #f2ebe3;

    /*Neutral Colors*/
    --dark-grayish-blue: #6c7289;
    --very-dark-blue: #1c232b;
    --white: #fff;
}

/*******************************************SELECTORS*******************************************/
html, body {
    height: 100%;
    margin: 0;
    width: 100%
    
}

body {
    color: var(--dark-grayish-blue);
    background-color: var(--cream);
    font-family: Montserrat, sans-serif;
}

h1 {
    color: var(--dark-cyan);
    font-family: Fraunces, serif;
    font-size: 2rem;
    line-height: 1;
}

button {
	background-color: var(--dark-cyan);
    border: none;
	border-radius: 13px;
    color: var(--white);
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    width: 100%;
}

a {
    text-decoration: none;
}

button:hover, button:active {
	background-color:#204739;
    cursor: pointer;
}

footer {
    display: block;
    text-align: center;
    margin: 10px 0px;
    position: static;
    width: 100%;
}


/*******************************************CLASS SELECTORS*******************************************/
.container {
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    position: relative;
    top: 20%;
    height: 60%;
    width: 70%;
}

.img-container {
    background-image: url(../images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    flex: 2;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 19px 0px 0px 19px;
}

.textbox {
    flex: 2;
    padding: 30px;
}

.title {
    color: var(--very-dark-blue);
    margin: 1rem 2rem 1rem 0rem;
}

.perfume {
    letter-spacing: 0.5rem;
}

.perfume, .detail {
    margin: 0;
    line-height: 1.75;
}

.price{
    display: inline-block;
    margin: 2rem 1rem 2rem 0rem;
}

.prices {
    display: flex;
    align-items: center;
}




@media screen and (max-width: 900px) { /*Mobile Version*/
    .container {
        flex-direction: column;
        top: 12%;
        height: 75%;
        width: 70%;
    }
    .img-container {
        background-image: url(../images/image-product-mobile.jpg);
        background-size: cover;
        border-radius: 19px 19px 0px 0px;
    }

    .price{
        display: inline-block;
        margin: 2rem 1rem 2rem 0rem;
    }

    .title {
        color: var(--very-dark-blue);
        margin: 1rem 0rem;
    }

    .perfume, .detail {
        line-height: 1.75;
    }

    .textbox {
        position: relative;
        padding: 20px;
    }
}
